<h1><a href="$url$">$title$</a></h1>

<div class="info">
    <!-- Twitter button -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="$url$" data-text="$title$" data-via="hiratara">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>

$body$
