<!doctype html>
<html lang="ja">

	<head>
		<meta charset="utf-8">

		<title>$title$</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/reveal.js/css/theme/simple.css" id="theme">
	</head>

	<body>

		<div class="reveal">

			<div class="slides">

			<section>
			    <h1 class="title">$title$</h1>
                            $if(author)$
			    <h2 class="author">$author$</h2>
                            $endif$
			    <h3 class="date">$date$</h3>
			</section>

			$body$

			</div>

		</div>

		<script src="/reveal.js/lib/js/head.min.js"></script>
		<script src="/reveal.js/js/reveal.js"></script>

		<script>

			Reveal.initialize({
				history: true,
				transition: 'linear',

				math: {
					// mathjax: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js',
					config: 'TeX-AMS_HTML-full'
				},

				dependencies: [
					{ src: '/reveal.js/lib/js/classList.js' },
					{ src: '/reveal.js/plugin/math/math.js', async: true }
				]
			});

		</script>

	</body>
</html>
